<ion-view view-title="Ayuda, no te preocupes por nada">
  <ion-content class="padding">
    <h2 class="text-center">Hola, Jose</h2>
    <div class="text-center">
      <p class="text-lg">
        Ha ocurrido algo?
      </p>
      <p class="text-lg">
        Hay alguien a tu lado, que no conoces?
      </p>
      <p class="text-lg">
        Tranquilo, no digas nada y llama a este numero: 
        <strong>985 9999 34</strong>
      </p>
      <p class="text-lg">
        Es el télefono de tu hijo Carlos, vendra a ayudarte.
      </p>
      <hr>
      <p class="text-lg">Si aún, tienes miedo o estas confundido puedes llamar a la policia:</p>
      <p class="text-lg"><strong>105</strong></p>
      <div style="padding-top: 100px">
        Si necesitas contactarte con el desarrollador de esta aplicación <br>puedes escribir al siguiente correo: 
        <strong>enciso.leo@gmail.com</strong>
      </div>
    </div>
  </ion-content>
</ion-view>
